.gal1 .sec_inner {
  padding: 60px 0;
}
.gal1 .sec_inner .map {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 60px;
}
.gal1 .sec_inner .map > h4 {
  color: #000000;
  margin: 10px 0 6px 0;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1px;
}

.gal2 .sec_inner {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
}
.gal2 #btnFilter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  font-size: 20px;
}
.gal2 #btnFilter > button {
  background-color: #ffffff;
  border: 1px solid #3f444a;
  color: #3f444a;
  cursor: pointer;
  padding: 12px;
}
.gal2 #btnFilter > button.active {
  background-color: #3f444a;
  color: #fff;
  border: 1px solid #3f444a;
}
.gal2 .img_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 60px;
}
.gal2 .img_row > li.column {
  width: calc(100% / 3 - 20px);
}
.gal2 .show {
  display: block;
}
.gal2 .hide {
  display: none;
}

.gal3 .img_wrap {
  width: 100%;
}
.gal3 .img_wrap > img {
  width: 100%;
  object-fit: cover;
}
.gal3 .con_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex;
  margin-top: 20px;
}
.gal3 .con_wrap > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.gal3 .con_wrap > div .tit {
  font-size: 26px;
}
.gal3 .con_wrap > div .con {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}
.gal3 .con_wrap .left {
  width: 65%;
}
.gal3 .con_wrap .left .con {
  font-size: 28px;
}
.gal3 .con_wrap .right {
  width: 35%;
}
.gal3 .con_wrap .right .con > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #3f444a;
}
.gal3 .tit::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #32c5d2;
  margin: 20px 0;
}
