@charset "utf-8";

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "ONE Mobile Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap") format("woff");
  font-weight: normal;
  font-style: normal;
}
